body {
    background-color: rgb(0, 89, 190);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Hind', sans-serif;
}

header .logo {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

form {
    /*position: absolute;*/
    background-color: white;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    overflow: auto;
}

div {
    color: grey;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 1px;
    font-weight: lighter;
}

fieldset {
    width: 360px;
    border: none;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

legend {
    float: left;
    font-size: 20px;
    color: black;
}

input {
    background-color: ghostwhite;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    height: 25px;
    width: 325px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    font-size: 20px;
}

button {
    font-size: 24px;
    color: white;
    width: 360px;
    height: 50px;
    background-color: limegreen;
    border: none;
    border-radius: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
    float: right;
}

button:hover {
    background-color: forestgreen;
}

.return {
    margin-top: 0px;
    font-size: 20px;
    color: white;
}

img {
    height: 60px;
}

.jumbotron {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7),
    0 6px 20px 0 rgba(0, 0, 0, 0.68);
}

.form-control {
    background: ghostwhite;
}

.label {
    font-size: 20px;
    float: left;
    color: black;
}

#messages {
    display: none;
    
}

.message{
    padding: 5px 10px 1px 10px;
    text-align: left;
    background-color: rgb(110, 204, 247);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7),
    0 6px 20px 0 rgba(0, 0, 0, 0.68);
}

.trash {
    float: right;
    height: 25px;
}
.edit {
    float: right;
    height: 36px;
}