/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1080px) {
    .box {
        width: 60%;
        margin: auto;
    }
    .answer {
        text-align: left;
        width: 400px;
        margin: 5px;
    }
    .img {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    footer {
        margin: 0px 0px 100px 0px;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .images {
        display: none;
    }
    .jumbotron{
        width: 98%;
        text-align: center;
    }
    #express {
        width: 85%;
        height: auto;
    }
    #chat {
        width: 35%;
        height: auto;
    }
    .login-form {
        width: 100%;
    }
    .display-4 {
        font-size: 40px;
    }
    button {
        width: 100px;
    }
    .login-page, .signup-page {
        width: 50%;
    }
    h4 {
        margin-top: -30%;
    }
    i {
        font-size: 30px;
    }
    #message {
        height: 120px;
        margin-bottom: 0;
    }
}
